/**
 * Editor Styles
 */
[lang],
[hreflang] {
	position: relative;
	border-radius: 4px;
}

[lang] {
	outline: 2px dotted #AAA;
}

[hreflang] {
	outline: 2px dashed #AAA;
}


[lang]:after,
[hreflang]:before {
	position: absolute;
	top: 0;
	padding: 2px 4px 1px;
	font-size: 8px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	background: #666;
	font-family: sans-serif;
	transform: translateY(-80%);
	opacity: 0;
	border-radius: 2px 2px 0 0;
	transition: all .275s;
}

[lang]:hover:after,
[lang][data-rich-text-format-boundary]:after,
[hreflang]:hover:before,
[hreflang][data-rich-text-format-boundary]:before {
	opacity: 1;
	transform: translateY(-100%);
}

[lang]:after {
	content: 'L: ' attr(lang);
	right: 0;
}

[hreflang]:before {
	content: 'H: ' attr(hreflang);
	left: 0;
}
